consul DNS doesn't set authority (SOA) response

According to the example in the docs (https://www.consul.io/docs/agent/dns.html), consul returns a SOA record for dig requests. But when I run it, it does not.

```
[vagrant@vagrant-consul-server ~]$ dig @127.0.0.1 -p 8600 vagrant-consul-server.node.consul ANY

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.17.rc1.el6_4.6 <<>> @127.0.0.1 -p 8600 vagrant-consul-server.node.consul ANY
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 1147
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;vagrant-consul-server.node.consul. IN	ANY

;; ANSWER SECTION:
vagrant-consul-server.node.consul. 5 IN	A	192.168.252.145

;; Query time: 0 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Thu Jan 21 16:29:44 2016
;; MSG SIZE  rcvd: 100

[vagrant@vagrant-consul-server ~]$ dig @127.0.0.1 -p 8600 vagrant-consul-server.node.vagrant.consul ANY

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.17.rc1.el6_4.6 <<>> @127.0.0.1 -p 8600 vagrant-consul-server.node.vagrant.consul ANY
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 63915
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;vagrant-consul-server.node.vagrant.consul. IN ANY

;; ANSWER SECTION:
vagrant-consul-server.node.vagrant.consul. 5 IN	A 192.168.252.145

;; Query time: 0 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Thu Jan 21 16:29:48 2016
;; MSG SIZE  rcvd: 116

[vagrant@vagrant-consul-server ~]$ dig @127.0.0.1 -p 8600 consul.service.consul ANY

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.17.rc1.el6_4.6 <<>> @127.0.0.1 -p 8600 consul.service.consul ANY
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 51211
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;consul.service.consul.		IN	ANY

;; ANSWER SECTION:
consul.service.consul.	0	IN	A	192.168.252.145

;; Query time: 0 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Thu Jan 21 16:30:01 2016
;; MSG SIZE  rcvd: 76

[vagrant@vagrant-consul-server ~]$ dig @127.0.0.1 -p 8600 consul.service.vagrant.consul ANY

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.17.rc1.el6_4.6 <<>> @127.0.0.1 -p 8600 consul.service.vagrant.consul ANY
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 19436
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;consul.service.vagrant.consul.	IN	ANY

;; ANSWER SECTION:
consul.service.vagrant.consul. 0 IN	A	192.168.252.145

;; Query time: 0 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Thu Jan 21 16:30:06 2016
;; MSG SIZE  rcvd: 92
```

Consul is being run as `/opt/consul/bin/consul agent -config-dir=/etc/consul.d -pid-file=/var/run/consul/consul.pid -node=vagrant-consul-server`

The config files are:

```
[vagrant@vagrant-consul-server ~]$ cat /etc/consul.d/*
{
  "datacenter": "vagrant",
  "domain": "consul",
  "log_level": "warn",
  "disable_remote_exec": true,
  "disable_update_check": true,
  "advertise_addr": "192.168.252.145",
  "server": true,
  "bootstrap_expect": 1,
  "dns_config": {
    "node_ttl": "5s",
    "allow_stale": true,
    "max_stale": "5s"
  },
  "ui_dir": "/opt/consul/webui"
}
{
    "data_dir": "/var/lib/consul"
}
{
  "service": {
    "name": "dns",
    "tags": [
      "vagrantdns",
      "dns"
    ],
    "port": 53
  }
}
```

results of `consul version`

```
[vagrant@vagrant-consul-server ~]$ /opt/consul/bin/consul version
Consul v0.6.3
Consul Protocol: 3 (Understands back to: 1)
```

Results of `consul info`

```
[vagrant@vagrant-consul-server ~]$ /opt/consul/bin/consul info
agent:
	check_monitors = 0
	check_ttls = 0
	checks = 0
	services = 2
build:
	prerelease = 
	revision = c933efde
	version = 0.6.3
consul:
	bootstrap = true
	known_datacenters = 1
	leader = true
	server = true
raft:
	applied_index = 61
	commit_index = 61
	fsm_pending = 0
	last_contact = never
	last_log_index = 61
	last_log_term = 3
	last_snapshot_index = 0
	last_snapshot_term = 0
	num_peers = 0
	state = Leader
	term = 3
runtime:
	arch = amd64
	cpu_count = 1
	goroutines = 57
	max_procs = 1
	os = linux
	version = go1.5.3
serf_lan:
	encrypted = false
	event_queue = 1
	event_time = 4
	failed = 0
	intent_queue = 0
	left = 0
	member_time = 1
	members = 1
	query_queue = 0
	query_time = 1
serf_wan:
	encrypted = false
	event_queue = 0
	event_time = 1
	failed = 0
	intent_queue = 0
	left = 0
	member_time = 1
	members = 1
	query_queue = 0
	query_time = 1
```

Am I missing something in my configuration?

No, you're good in your configuration, however the source of confusion is a nuance in the type of query, `A` vs `SRV`.

In an `A` record query, the Resource Record (`RR`) contains the complete `ANSWER` wherein the resolver does not need to perform any additional queries to resolve the question asked.  Contrast that with an `SRV` query whose RR contains a `Target`, which, per [RFC 2782](https://tools.ietf.org/html/rfc2782):

> Target
>        The domain name of the target host.  There MUST be one or more
>        address records for this name, the name MUST NOT be an alias (in
>        the sense of RFC 1034 or RFC 2181).  Implementors are urged, but
>        not required, to return the address record(s) in the Additional
>        Data section.

means the resolver *may* need to perform additional queries if the `ADDITIONAL` section in the SRV RR does _not_ contain the necessary addresses.  In the case of `consul`, `consul` does contain the necessary `ADDITIONAL` information to satisfy the question in a single round-trip.

Using `consul` as an example service, if we look at the output of `dig` closely, we see the `Target`s in the `SRV RR` have their addresses included in the `ADDITIONAL` section:

```
% dig @127.0.0.1 -p 8600 consul.service.consul. SRV

; <<>> DiG 9.10.3-P3 <<>> @127.0.0.1 -p 8600 consul.service.consul. SRV
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39965
;; flags: qr aa rd; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 3
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;consul.service.consul.		IN	SRV

;; ANSWER SECTION:
consul.service.consul.	0	IN	SRV	1 1 8300 consul2.node.dc1.consul.
consul.service.consul.	0	IN	SRV	1 1 8300 consul3.node.dc1.consul.
consul.service.consul.	0	IN	SRV	1 1 8300 consul1.node.dc1.consul.

;; ADDITIONAL SECTION:
consul2.node.dc1.consul. 0	IN	A	172.16.139.134
consul3.node.dc1.consul. 0	IN	A	172.16.139.135
consul1.node.dc1.consul. 0	IN	A	172.16.139.133
```

Note the 3 in both the `ANSWER` and `ADDITIONAL` section, and their three responses.  Compare that with an `A` query which already has all of the information necessary to satisfy the DNS question.

```
% dig @127.0.0.1 -p 8600 consul.service.consul. A

; <<>> DiG 9.10.3-P3 <<>> @127.0.0.1 -p 8600 consul.service.consul. A
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 34151
;; flags: qr aa rd; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;consul.service.consul.		IN	A

;; ANSWER SECTION:
consul.service.consul.	0	IN	A	172.16.139.135
consul.service.consul.	0	IN	A	172.16.139.134
consul.service.consul.	0	IN	A	172.16.139.133
```

If you think this isn't behaving as expected, please let us know.